[submodule "Line-Todo-Frontend"]
	path = Line-Todo-Frontend
	url = https://github.com/JoeKooler/Line-Todo-Frontend.git
[submodule "Line-Todo-Backend"]
	path = Line-Todo-Backend
	url = https://github.com/JoeKooler/Line-Todo-Backend.git
